h2, p {
  text-align: center;
}
img{
  display: block;
  margin-left:auto;
  margin-right: auto;
  padding:10px 0px;
  width: 55%;
  /* border: 1px solid black; */
}
section {
  margin: 10px;
  border: 1px solid purple;
  width: 33%;
  height: 200px;
  float: left;
}
footer{
  clear: both;
}