@import "/css/reset.css";
@import "/css/layouts.css";
@import "/css/modules.css";
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

body {
  background-color: antiquewhite;
  max-width: 960px;
}
h1 {
  color: rgb(63, 63, 63);
  font-family: 'Asap Condensed', sans-serif;
  font-size: 2em;
  text-align: center;
}
