h2, p {
  text-align: center;
}

main {
  display: flex;
  justify-content: flex-start;
}

img{
  display: block;
  margin-left:auto;
  margin-right: auto;
  padding:10px 0px;
  width: 55%;
  max-height: 70%;
  /* border: 1px solid black; */
}
section {
  margin: 10px;
  border: 1px solid purple;
  width: 33%;
  height: 265px;
}
footer{
  clear: both;
}